@import "bootstrap.min.css";

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../../../fonts/iran-yekan/IRANYekanWebRegular.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../../../fonts/iran-yekan/IRANYekanWebMedium.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url('../../../fonts/iran-yekan/IRANYekanWebBold.ttf') format('truetype');
}

body {
    direction: rtl;
    text-align: right;
    font-family: iranyekan;
}


.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;

    &::placeholder {
        text-align: right;
    }
}

